section {
  width: 460px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-avatar {
  width: 180px;
}

.card-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-name {
  font-size: 2.4rem;
}

.title-username {
  font-size: 1.9rem;
}

.title-email {
  font-size: 1.8rem;
}

.title-age {
  font-size: 1.7rem;
}
